* {
	font-family: 'Karla', sans-serif;
}

body {
	position: absolute;
	top: 25%;
	left: 100px;
	width: calc(100% - 200px);
	height: 50%;

	margin: 0;
	padding: 0;
	background: #222;
	color: #eee;
}

.title {
	font-size: 3em;
	text-align: center;
}

.player-type-container,
.login-container,
.register-container {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.register-container input {
	display: inline-block;
}

.player-type-container input[type=button] {
	width: 100%;
	font-size: 2em;
	padding: 10px 15px;
	margin: 10px 0;
}

div input {
	text-align: center;
	width: 80%;
	font-size: 1.5em;
	padding: 10px 15px;
	margin: 10px 0;
	background: #555;
	color: #eee;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

div input[type=text], input[type=password] {
	cursor: text;
}

#email {
	display: inline-block;
}

#back {
	font-size: 1.2em;
}

input[type=button]:hover,
input[type=button]:focus {
	background: #888;
}

input[type=button]:active {
	background: #333;
}

input[type=text]:hover,
input[type=password]:hover {
	background: #888;
}

input[type=text]:focus,
input[type=password]:focus {
	background: #333;
}