* {
	font-family: 'Karla', sans-serif;
}

body {
	background-color: #222;
	color: #eee;
}

#title {
	position: relative;
	display: none;
	font-size: 3em;
	text-align: center;
}

#player-type-container,
#login-container,
#register-container {
	position: absolute;
	top: calc(10% + 80px);
	left: calc(50% - 250px);
	width: 500px;
}

#main-menu-container,
#player-type-container,
#login-container,
#register-container {
	display: none;
	text-align: center;
}

#player-type-container input {
	display: inline-block;
	z-index: 2;
}

#player-type-container input[type=button] {
	width: 340px;
	font-size: 2em;
	padding: 10px 15px;
	margin: 10px 0;
}
#player-type-container input[type=text] {
	width: 300px;
}

div input {
	text-align: center;
	width: 260px;
	font-size: 1.5em;
	padding: 10px 15px;
	margin: 10px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 2;
}

div input[type=text], input[type=password] {
	cursor: text;
	width: 300px;
}

#email {
	display: inline-block;
}

#back {
	font-size: 1.2em;
}

#old, #new {
	border-radius: 0;
	width: 400px;
}

#login_backdrop,
#register_backdrop {
	position: relative;
	font-size: 105px;
	font-weight: bold;
	z-index: 1;
	pointer-events: none;
}

#login_backdrop {
	top: -211px;
	left: 5px;
	letter-spacing: 12px;
}

#register_backdrop {
	top: -281px;
	left: -8px;
	letter-spacing: -14px;
}


#motd-title-container {
	display: none;
	/*position: absolute;
	width: 280px;
	top: 20px;
	height: 0%;
	min-height: 50px;
	left: -52%;*/
	border-bottom: 1px solid white;
}


#motd-title {
	position: absolute;
	width: 260px;
	left: calc(50% - 130px);
	bottom: 0%;
	text-align: left;
	font-size: 34px;
	font-weight: bold;
	font-style: italic;
	color: #a6a6a6;
}
#motd {
	display: none;
	position: relative;
	width: 260px;
	left: calc(50% - 130px);
	top: 54px;
	color: white;
	text-align: left;
}

#char-select-container {
	display: none;
}